{% extends 'admin.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>

        <tr>

            <td>
            <td><a href="{{ url('admin_reset') }}" class="btn btn-danger">reset</a></td>
            </td>
        </tr>


        </tbody>
    </table>

{% endblock %}