<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainee Information</title>
    <h1> Enter Details </h1>
    <form action="action_page.php" method="post">
        Name:<br>
        <input type="text" name="name">
        <br>
        Age:<br>
        <input type="text" name="age" >
        <br>
        Address : <br>
        <input type="text" name="address">
        <br>
        Mobile : <br>
        <input type="text" name="mobile">
        <br>
        Gender : <br>
        <input type="radio" name="gender" value="male" checked> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <input type="radio" name="gender" value="other"> Other
        <br><br>
        <input type="submit" value="Submit">
    </form>
</head>
<body>

</body>
</html>